@use 'src/styles/variables' as v;

.post {
	background: v.$color-white;
	padding: 1rem;
	border-radius: v.$radius-4;
	padding-bottom: 2rem;
	transition: v.$transition;
	cursor: default;
	&:hover {
		box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
	}
	&__thumbnail {
		border-radius: v.$radius-3;
		overflow: hidden;
		height: 16rem;
	}
	&__content {
		margin-top: 1.5rem;
		& h3 {
			margin: 1rem 0 0.6rem;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 2rem;
	}
}
